* {
  font-family: 'Open Sans';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.8em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h1 h2 h3 h4 h5 p {
  text-align:center;
}

.bold {
  font-weight: bold;
}

.line-height {
  line-height:22px;
}

.promo-image {
  z-index: 1;
  height: 100px;
  padding: 0;
  margin: 0;
}

.promo-image2 {
  z-index: 1;
  height: 150px;
  padding: 0;
  margin: 0;
}

.right-column-bg {
  z-index: 10;
  position: relative;
  background: #fff;
  height: 120px;
}

.right-column-bg2 {
  z-index: 10;
  position: relative;
  background: #fff;
  height: 160px;
}

#image-upload {
  display: none;
}

.submit {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #EEE;
  color: #333;
  padding: 4px 12px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #CCC;
  cursor: pointer;
}

.cards-preview {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .6);
  background: #fff;
  width: 525px;
}

#card-preview-1 {
  height: 263.5px;
}

#card-preview-2 {
  height: 316px;
}

#card-preview-3 {
  height: 631px;
}

.card {
  height: 176px;
  width: 350px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .6);
  background: #fff;
}

.card2 {
  height: 211px;
  width: 350px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .6);
  background: #fff;
}

.card3 {
  height: 421px;
  width: 350px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .6);
  background: #fff;
}

.tab-section {
  height: 263.5px;
  width: 525px;
}

.tab-section2 {
  height: 316px;
  width: 525px;
}

.tab-section3 {
  height: 631px;
  width: 525px;
}

.advert-column {
    float: left;
    width: 50%;
    padding: none;
}

.advert-row:after {
    content: "";
    display: table;
    clear: both;
}
