@import url(https://fonts.googleapis.com/css?family=Lalezar);

* {
    box-sizing: border-box;
}

p {
  font-family: 'Maven Pro';
  text-align:center;
}

h1 {
  font-family: 'Lalezar';
}

#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  border-radius: .5em;
  background-color: #E80000;
  border: 3px solid #FF6633;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding: none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#card {
  height: 1000px;
  width: 375px;
  border-radius: 2px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .6);
  background: #fff;
}

#card-inside {
  height: 75px;
  width: 375px;
}

#header {
  height: 100%;
  width: 100%;
}

#header img {
  max-height:100%;
  max-width:80%;
  position:relative;
  display:inline;
  margin: 10px auto;
}

.container {
  position: relative;
  text-align: center;
  font-size: 1.75em;
  color: #f00000;
}

mark {
  background-color: #000;
  color: #f00000;
  padding: 0;
  margin: 0;
}

.address {
  display:inline-block;
  margin: 25px 0px 0px 7px;
  padding:10px;
}

.toggle {
  style: none;
  text-align: left;
  color: #fff;
  padding: 0;
  border: 1px solid yellow;
}

/*
NAVIGATION BAR
*/

.navbar {
  overflow: hidden;
  background-color: #000;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
	font-size: 20px;
	font-family: 'Coda';
	color: #fff;
	text-decoration: none;
}

.navbar a:hover {
	transition: .1s;
	color: DarkRed;
}

.scrolled {
 transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: rgba(0, 0, 0, .5);
  transition: 0.5s ease;
	margin-right: 0;
  z-index: 100;
}

.scrolled.navbar a {
	color: #fff;
}

.scrolled.navbar a:hover {
	color: DarkRed;
	padding-bottom: 0;
	border-bottom: 3px solid transparent;
	border-image: linear-gradient(to right, tomato , DarkRed);
	border-image-slice: 1;
}
