/* <a href="https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm">Designed by Freepik</a> */

/* https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm */

body {
	margin: 0;
	padding: 0;
}

.color-bg {
	height: 100vh;
	background-position: bottom left;
	animation: driving 20s linear infinite;
	background-image: radial-gradient(farthest-side at 50% 80%, rgba(0,0,0, 0), rgba(260,260,260,1));
	overflow: hidden;
}

.background {
	background: url(bg-simple.png);
	background-position: top right;
	animation: driving 20s linear infinite;
	-webkit-transform: rotate(30deg);
	transform: rotate(-20deg);
}

.headerTitle {
	font-family: arial;
	font-size: 6em;
	position: absolute;
	left: 300px;
	top: 10px;
	width: 250px;
	z-index: 10;
}

.car {
	position: absolute;
	left: 600px;
	bottom: 10px;
	width: 250px;
}

.truck {
	position: absolute;
	left: 800px;
	bottom: 115px;
	width: 500px;
}

@keyframes driving {
	from { background-position: bottom left; }

	to { background-position: bottom right; }
}
