@import url(https://fonts.googleapis.com/css?family=Lalezar);

.margin-bottom {
  margin-bottom: 15px;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

* {
    box-sizing: border-box;
}

h1 {
  color: rgb(0, 153, 51);
}

h1 h2 p {
  font-family: 'Maven Pro';
  text-align:center;
}

#wrapper {
  display: none;
}

#wrapper2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  border-radius: .5em;
  background-color: #E80000;
  border: 3px solid #FF6633;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#external-padding {
  border: 1px solid rgb(190, 192, 196);
}

#card {
  margin: 16px;
  height: 200px;
  width: 95%;
  border-radius: 2px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, .6);
  background: #fff;
}

.toggle {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #EEE;
  color: #333;
  padding: 4px 12px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #CCC;
}

.submit {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #EEE;
  color: #333;
  padding: 4px 12px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #CCC;
}

/*
NAVIGATION BAR
*/

.navbar {
  overflow: hidden;
  background-color: #000;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.wrap-around {
  width: 60px;
}

.navbar a {
	font-size: 20px;
	font-family: 'Coda';
	color: #fff;
	text-decoration: none;
}

.navbar a:hover {
	transition: .1s;
	color: DarkRed;
}

.scrolled {
 transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: rgba(0, 0, 0, .5);
  transition: 0.5s ease;
	margin-right: 0;
  z-index: 100;
}

.scrolled.navbar a {
	color: #fff;
}

.scrolled.navbar a:hover {
	color: DarkRed;
	padding-bottom: 0;
	border-bottom: 3px solid transparent;
	border-image: linear-gradient(to right, tomato , DarkRed);
	border-image-slice: 1;
}

#hide0 {
  display: none;
}
