* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  position: relative;
  height: 100vh;
}

canvas {
  display: block;
  vertical-align: bottom;
  /* background-image: linear-gradient(to right, rgba(100,260,0,1), rgba(120,100,60,1)); */
  background-image: radial-gradient(rgba(120,260,50,1), rgba(120,100,60,1));
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

section {
  margin: auto;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  text-align: center;
}

.text {
  text-align: left;
  display: inline-block;
  padding: 10px;
  max-width: 500px;
  margin: 10px;
  /* background: rgba(260, 100, 0, .9); */
  /*border: 2px solid tomato; */
  opacity: 0.9;
}

.text h1 {
  font-size: 5em;
  margin-bottom: 8px;
  color: #fff;
}
.text p {
  font-size: 3em;
  color: #fff;
  line-height: 1em;
}
