body {
  background-color: #000;
  color: #fff;
}

.intro-text-wrapper {
  display: flex;
  align-items:center;
  min-height: 100vh;
}

.intro-text-container {
  margin: 0 auto;
  transition: 2s ease;
  text-align: center;
  max-width: 286px;
    width: auto;
}

h1 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15em;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 50px;
}


.name {
  transition: 1.5s ease;
  display: inline-block;
  float: left;
}

.name {
  max-width: 150px;
  opacity: 1;
  transition: ease 2s;
  transition-delay: .5s;
  white-space: nowrap;
  transform: translateX(0px);
  margin-left: -200px;
}

.name.start {
  max-width: 1px;
  opacity: 0;
  transform: translateX(60px);
}

.start {
  position: absolute;
  opacity: 0;
}
