* {
  transition: height 2s;
  -webkit-transition: height 2s; /* Safari */
}

body {
  background: #737878;
}

h1, a:link, a:visited, a:hover, a:active {
  text-align: center;
  font-family: 'Open Sans';
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  font-size: 20px;
}

input {
  font-size: 22px;
  display: block;
  margin-left: 10%;
  width: 80%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #F4F407;
}

.form {
  background: #494D4D;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.centered {
  width: 32%;
  margin: 0 34%;
  background: #CEB813;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 20px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: none;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #ECD214;
}
